<hr />
<div class="list-group" *ngFor="let booking of bookings">
  <a
    href="#"
    class="list-group-item list-group-item-action mb-2"
    aria-current="true"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ booking.name }}</h5>
      <small>{{ booking.id }}</small>
    </div>
    <p class="mb-1">
      {{ booking.startDate | date: "dd/MM/yyyy" }} -
      {{ booking.endDate | date: "dd/MM/yyyy" }}
    </p>
    <small>{{ booking.roomNumber }}</small>
  </a>
</div>
